@model IEnumerable<PruebaTecnica2020.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.identificacionCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerNombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoNombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellidoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellidoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edadCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad.nombreCiudad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.identificacionCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerNombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoNombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellidoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellidoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edadCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad.nombreCiudad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCliente })
        </td>
    </tr>
}

</table>
